.body{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
}

.main{
    max-width: 426px;
    background-color: rgba(97, 187, 194, 0.5);
    margin: auto;
    text-align: center;
    padding: 2rem;
    border-radius: 16px;
    transition: all 0.5s;
}

.main__img{
border-radius: 50%;
width: 100%;
max-width: 300px;
}

.main__title{
    margin: 12px 0;
    letter-spacing: 2px;
    color: #444444;
}

.section__title{
    letter-spacing: 2px;
    font-weight: 400;
    color: #444444;
}

.section__paraghap{
    letter-spacing: 1.5px;
    margin-bottom: 32px;
    color: #444444;
    font-size: 1rem;
}

.footer{
    width: 100%;
    background-color:#05adca;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.footer__contact{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__link{
    display: inline-block;
    color: #ffff;
    font-size: 2rem;
    margin: 1rem;
    transition: all 0.5s;
}

.footer__link:hover{
    color: #0f7e92;
    transform: scale(1.5);
}

@media (min-width: 854px) {
    body {
        font-size: 16px;
    }

    main{
        max-width: 640px;
        }
}